<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ERB::Util.html_escape(@topic.title) %></title>
    <%= discourse_stylesheet_link_tag :desktop %>
    <%= discourse_stylesheet_link_tag :desktop_theme %>
  </head>
  <body class="topic-content-view">
    <%= yield %>
  </body>
</html>
